[submodule "lib/hoot"]
	path = lib/hoot
	url = git@github.com:jrpat/hoot.git
  ignore = dirty
[submodule "lib/lowdown"]
	path = lib/lowdown
	url = git@github.com:kristapsdz/lowdown.git
  ignore = dirty
