$[> ~/_base.hoot.css]

article {
  font-family: ui-serif, serif;
  -webkit-font-smoothing: antialiased;
}

article h1 {
  font-size: var(--fs-2);
  font-weight: 700;
  margin-bottom: 0.5em;
}

article h2 {
  font-weight: 600;
  font-size: var(--fs-1);
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

article h3 {
  font-size: var(--fs-05);
  font-weight: 600;
  margin-top: 1.25em;
  margin-bottom: 0.625em;
}

article h4 {
  font-size: var(--fs-025);
  font-weight: 600;
}

article :where(p, ul, ol, blockquote, pre) {
  margin: 0 0 1em 0;
}

article li {
  margin-bottom: 0.5em;
}

article strong {
  font-weight: 700;
}

article small {
  font-size: var(--fs--1);
}

.footnotes {
  font-size: var(--fs--2);
}

article blockquote {
  opacity: 0.8;
  border-left: 0.375em solid var(--line);
  padding: 0 3em 0 1em;
}

article blockquote p {
  margin-bottom: 0;
  isolation: isolate;
}

article blockquote p:first-of-type {
  font-variant: all-small-caps;
}

article sup[id^="fnref"] a {
  color: var(--color-2);
  text-decoration-color: var(--underline-2);
  padding: 0 0.25ch;
  font-family: var(--font-mono);
  font-size: 0.625rem;
  font-weight: 600;
}

article sup[id^="fnref"] a::after {
  content: '';
  $[HoverTarget 0.75ch];
  border-radius: 0.5ch;
}

article sup[id^="fnref"] a:hover::after {
  background: var(--bg-tint);
}

article sup[id^="fnref"] a:hover::before {
  content: '';
  $[HoverTarget 2.5ch];
}


.tippy-box[data-theme~='jrpat'] {
  background: var(--bg-above);
  max-width: 40ch;
  padding: 0 1em;
  font-size: 0.75em;
  border-radius: 1ch;
  border: 1px solid var(--line-faint);
  box-shadow: 0 3px 8px var(--popover-shadow),
              0 6px 18px var(--popover-shadow);
  z-index: 9999999;
  font-family: var(--font-sans);
}

.tippy-box a[rev="footnote"] {
  display: none;
}

.footnote-popover p:last-of-type {
  margin: 0;
}



