$[> ~/_base.hoot.css]

article {
  font-family: ui-serif, serif;
  -webkit-font-smoothing: antialiased;
  hyphens: auto;
}

article {
  hyphens: auto;
}

article h1 {
  font-size: var(--fs-2);
  font-weight: 700;
  margin-bottom: 1rem;
}
article h1 code { font-weight: 700; }

article h2 {
  font-weight: 600;
  font-size: var(--fs-1);
  margin-top: 1.25em;
  margin-bottom: 1rem;
}
article h2 code { font-weight: 600; }

article h3 {
  font-size: var(--fs-05);
  font-weight: 600;
  margin-top: 1.25em;
  margin-bottom: 1rem;
}
article h3 code { font-weight: 600; }

article h4 {
  font-size: var(--fs-025);
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 1rem;
}
article h4 code { font-weight: 600; }

article :where(p, ul, ol, blockquote, pre, details) {
  margin: 0 0 1rem 0;
}

article details summary {
  margin-bottom: 0.5rem;
}

article details p {
  border-left: 2px solid var(--line);
  padding: 0 3em 0 1em;
  margin-left: 0.5ch;
  margin-bottom: 0;
  margin-top: 0;
}

article details p:not(:last-of-type) {
  padding-bottom: 0.5rem;
}

article li {
  margin-bottom: 0.5em;
}

article strong {
  font-weight: 700;
}

article small {
  font-size: var(--fs--1);
}

article :not(pre) :where(tt, code) {
  font-size: 0.9625em;
  padding: 0 0.0625ch;
  letter-spacing: -0.0625ch;
}

article p code {
  white-space: nowrap;
}

.footnotes {
  font-size: var(--fs--2);
  hyphens: auto;
}

article blockquote {
  opacity: 0.8;
  border-left: 0.375em solid var(--line);
  padding: 0 3em 0 1em;
}

article blockquote p {
  margin-bottom: 0;
}

article blockquote p:first-of-type:not(:last-of-type) {
  font-variant: all-small-caps;
}

article sup[id^="fnref"] a {
  color: var(--color-2);
  text-decoration-color: var(--underline-2);
  padding: 0 0.25ch;
  font-family: var(--font-mono);
  font-size: 0.625rem;
  font-weight: 600;
}

article sup[id^="fnref"] a::after {
  content: '';
  $[HoverTarget 0.75ch];
  border-radius: 0.5ch;
}

article sup[id^="fnref"] a:hover::after {
  background: var(--bg-tint);
}

article sup[id^="fnref"] a:hover::before {
  content: '';
  $[HoverTarget 2.5ch];
}

b.semibold {
  font-weight: 575;
}


.tippy-box[data-theme~='jrpat'] {
  background: var(--bg-above);
  color: var(--color);
  max-width: 40ch;
  padding: 0 1em;
  font-size: 0.75em;
  border-radius: 1ch;
  border: 1px solid var(--line-faint);
  box-shadow: 0 3px 8px var(--popover-shadow),
              0 6px 18px var(--popover-shadow);
  z-index: 9999999;
  font-family: var(--font-sans);
  hyphens: auto;
}

.tippy-arrow {
  color: var(--bg-above);
}

.tippy-box a[rev="footnote"] {
  display: none;
}

.footnote-popover p:last-of-type {
  margin: 0;
}



