$[set ContentWidth "round(var(--content-width), 1px)"]

$[set Large "@media screen and (min-width: var(--content-width))"]
$[set Small "@media screen and (max-width: var(--content-width))"]

$[set Light "@media (prefers-color-scheme: light)"]
$[set Dark "@media (prefers-color-scheme: dark)"]

$[+ template AbsCover {vpad {hpad {}}} +]
  $[set hpad $[or $hpad $vpad]]
  position: absolute;
  box-sizing: content-box;
  padding: $vpad $hpad;
  top: 0;
  left: 0;
  margin-top: -${vpad};
  margin-left: -${hpad};
  width: 100%;
  height: 100%;
$[--]

