$[> ~/_base.hoot.css]
$[contentsOf ~/_hvbox.css]

/**********************************************************************/
/*
** Reset
*/

*, *::before, *::after {
  margin: 0;
  padding:0;
  box-sizing:border-box;
  position:relative; 
}

input, button, textarea, select {
  font: inherit;
}


/**********************************************************************/
/*
** Colors
*/

@media (prefers-color-scheme: light) {
  :root {
    --bg: rgb(255 255 255);
    --bg-above: rgb(235 235 240);
    --bg-tint: rgb(0 0 0 / 0.05);
    --bg-code: rgb(0 0 0 / 0.025);
    --text: rgb(29 29 31);
    --text-2: rgb(40 40 47 / 0.7);
    --text-3: rgb(40 40 47 / 0.35);
    --text-4: rgb(40 40 47 / 0.2);
    --line:       rgb(0 0 10 / 0.075);
    --line-light: rgb(0 0 10 / 0.050);
    --line-heavy: rgb(0 0 10 / 0.125);
    --line-faint: rgb(0 0 10 / 0.0375);
    --underline:   rgb(0 0 10 / 0.333);
    --underline-2: rgb(0 0 10 / 0.25);

    --popover-shadow: rgb(0 0 0 / 0.15);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(30 30 33);
    --bg-above: rgb(50 50 52);
    --bg-tint: rgb(250 250 255 / 0.05);
    --bg-code: rgb(250 250 255 / 0.025);
    --text: #fff;
    --text-2: rgb(235 235 245 / 0.7);
    --text-3: rgb(235 235 245 / 0.35);
    --text-4: rgb(235 235 245 / 0.2);
    --line:       rgb(250 250 255 / 0.075);
    --line-light: rgb(250 250 255 / 0.050);
    --line-heavy: rgb(250 250 255 / 0.200);
    --line-faint: rgb(250 250 255 / 0.025);
    --underline:   rgb(250 250 255 / 0.333);
    --underline-2: rgb(250 250 255 / 0.25);

    --popover-shadow: rgb(0 0 0 / 0.5);
  }
}


/**********************************************************************/
/*
** Fonts
*/

:root {
  --font-sans: ui-sans-serif, sans-serif;
  --font-mono: ui-monospace, monospace;
  --font-serif: ui-serif, serif;
}



/**********************************************************************/
/*
** Text Sizes
*/

:root {
  --fs--2: 0.75rem;
  --fs--1: 0.875rem;
  --fs-0: 1rem;
  --fs-1: 1.75rem;
  --fs-2: 2.5rem;
  --fs-3: 3.25rem;
  --fs-4: 4rem;
  --fs-5: 4.75rem;

  --fs-05: $(1 + (1.75 - 1) / 2)rem;
  --fs-025: $(1 + (1.75 - 1) / 4)rem;
}


/**********************************************************************/
/*
** Utils
*/

$Large { .lg-hidden { display: none; } }
$Small { .sm-hidden { display: none; } }


/**********************************************************************/

html {
  font-family: var(--font-sans);
  color: var(--text);
  background: var(--bg);
  font-size: 18px;
}

body {
  padding: 0 5vw;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: var(--fs-3);
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 0.375em;
}
h2 {
  font-size: var(--fs-2);
  font-weight: 500;
  line-height: 1.15625;
  margin-bottom: 0.375em;
}
h3 {
  font-size: var(--fs-1);
  font-weight: 600;
  line-height: 1.1875;
  margin-bottom: 0.375em;
}

a {
  color: var(--text);
  text-decoration: underline;
  text-decoration-color: var(--underline);
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:hover {
  text-decoration-color: currentColor;
  text-decoration-thickness: 2px;
  text-underline-offset: 1.75px;
}

a.raquo::after {
  content: '»';
  position: absolute;
  line-height: 1;
  left: 100%;
  bottom: 0.1875ex;
  text-decoration: none;
  margin-left: 0.25ch;
  transform: scale(0.75);
}

p {
  margin: 0.75em 0;
  line-height: 1.618;
}


#content, #mast {
  width: 100%;
  max-width: 60ch;
  margin: 0 auto;
}


#mast {
  text-align: center;
  border-bottom: 1px solid var(--line);
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2em;
}

#mast h1 {
  line-height: 1;
  font-size: var(--fs-1);
  font-weight: 700;
  margin-bottom: 0;
}

#mast h1 a {
  display: block;
  text-decoration: none;
  padding: 1rem;
}

#mast h1 a:hover {
  text-decoration: underline;
}

#main-nav {
  margin-top: -0.125rem;
  gap: 1.5em;
}

#main-nav a {
  font-size: var(--fs-0);
  text-transform: uppercase;
  font-variant: all-small-caps;
  text-decoration: none;
}

#main-nav a::before {
  content: '';
  $[HoverTarget 0.5em]
}

#main-nav a:hover {
  text-decoration: underline;
}

#eg a {
  font-size: var(--fs-1);
  font-weight: 500;
}

section {
  margin-bottom: 3rem;
}

.dim {
  color: var(--text-2);
}

.is-to, .as {
  display: inline-block;
  font-weight: 650;
  letter-spacing: 0.25ch;
  margin: 0 0.125ch 0 0.1875ch;
  transform: translateY(-0.125ex);
}

.project {
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.project h3 a {
  font-size: 0.625em;
  font-weight: 400;
  font-variant: all-small-caps;
  margin-left: 1em;
}

tt, code {
  font-family: var(--font-mono);
  font-weight: 515;
}

strong tt, strong code {
  font-weight: 700;
}

code.eqn {
  word-spacing: -0.375ch;
}

summary {
  cursor: pointer;
}

details p {
  font-size: 0.875em;
}

summary:hover {
  background: var(--bg-tint);
}

pre {
  font-family: var(--font-mono);
  background: var(--bg-code);
  padding: 0.5em;
  border-radius: 0.5ch;
  border: 1px solid var(--line-light);
  font-size: 0.875em;
  line-height: 1.5;
}

pre code {
  background: none;
  padding: 0;
}

hr {
  height: 1px;
  border: none;
  background: var(--line);
  margin: 2em 0;
}


footer {
  gap: 2em;
  padding: 1em 0;
  border-top: 1px solid var(--line);
  margin-top: 3em;
}

footer a {
  color: var(--text-secondary);
}


